:root {
  --primary-color: #c39229;
  --secondary-color: #ffffff;
  --text-color: #333;
  --hover-color: #dcbf83;
  --gap: 20px;
  --price: #727272;
  --margin: 6rem;
  --font: 1.2rem;
  --font-large: 1.5rem;
  --font-small: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--margin);
  z-index: 1000;
}
.nav-brand {
  display: flex;
  align-items: center;
}
.raja-kue-logo {
  width: 100px;
  height: 100px;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
}
.list-item a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  font-size: var(--font);
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.list-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 0;
  height: 2px;
  width: 80%;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.list-item a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.list-item a:not(:hover)::after {
  transform: scaleX(0);
  transform-origin: right;
}
.list-item a:hover {
  color: var(--primary-color);
}

.nav-icons {
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
}
.icon-item {
  width: 20px;
  height: 20px;
  margin-left: var(--gap);
  fill: var(--primary-color);
}
main {
  position: relative;
  top: 100px;
}
.promo-section {
  margin-top: var(--gap);
}
.promo-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  overflow: hidden;
}
.shop-section {
  display: flex;
  flex-direction: column;
  margin-top: var(--gap);
  margin: 0 var(--margin);
}
.icon-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-section svg {
  width: 50px;
  height: 50px;
  fill: var(--primary-color);
  margin: var(--gap) 0;
}
.menu-title {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: var(--gap);
}
hr {
  border: none;
  height: 3px;
  background-color: var(--primary-color);
  margin: var(--gap) 0;
}
.menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--gap);
  margin-bottom: var(--gap);
}
.card {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: var(--gap);
  margin-bottom: var(--gap);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.card-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: var(--gap);
}
.card-price {
  color: var(--price);
  font-size: 15px;
  text-decoration: line-through;
}
.card-after-discount {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
}
.category-section {
  display: flex;
  gap: var(--gap);
  justify-content: center;
}
.category-item {
  cursor: pointer;
  color: var(--price);
}
.category-item:hover {
  color: var(--text-color);
}
.category-active {
  color: var(--text-color);
  font-weight: bold;
}
